 :root {
     --aah-pink: #da0974;
     --aah-dark-pink: #8d054b;
     --aah-blue: #195f72;
     --aah-orange: #fb5012;
     --grey: #444;
     --energy-yellow: #e1ad01;
     --energy-green: #00a693;
     --energy-terracota: #d47553;
     --freshers23-tomato: #eb5a4d;
     --freshers23-cherry: #a7191d;
     --freshers23-mint: #61a5a0;
     --freshers23-cream: #f6e7ce;
 }

 @font-face {
     font-family: 'AAHITCAvantGardeProBold';
     src: url(/fonts/AAHITCAvantGardeProBold.eot);
     src: url(/fonts/AAHITCAvantGardeProBold.eot) format("embedded-opentype"), url(/fonts/AAHITCAvantGardeProBold.woff2) format("woff2"), url(/fonts/AAHITCAvantGardeProBold.woff) format("woff"), url(/fonts/AAHITCAvantGardeProBold.ttf) format("truetype"), url(/fonts/AAHITCAvantGardeProBold.svg#AAHITCAvantGardeProBold) format("svg")
 }

 canvas#generatedImage {
     outline: 1px solid var(--grey);
     transform: scale(0.5);
     transform-origin: top left;
     margin: 0;
     margin-right: -540px;
     margin-bottom: -960px;
 }

 body {
     font-family: "AAHITCAvantGardeProBold", sans-serif;
     margin: 0;
     padding: 0
 }

 main {
     display: flex;
     flex-direction: row;
     accent-color: var(--aah-pink)
 }

 h3 {
     color: var(--aah-pink);
     font-size: 1.5rem;
     margin-bottom: 10px
 }

 header,
 nav {
     padding: 20px 50px;
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     align-items: center;
     gap: 20px
 }

 header {
     background-color: var(--aah-pink);
     justify-content: flex-start;
 }

 nav {
     background-color: var(--aah-dark-pink);
     justify-content: space-between;
 }

 nav a {
     color: #fff;
     display: inline-block;
     border: 1px solid #fff;
     padding: 10px;
     text-decoration: none;
     border-radius: 10px;
     transition: .5s;
 }

 nav a:hover {
     border: 5px solid #fff;
 }

 header img,
 header h1,
 nav img,
 nav h1 {
     display: inline-block;
     margin: 0
 }

 h1 {
     color: #fff
 }

 p {
     color: var(--grey)
 }

 #formElement {
     display: none;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-between;
 }

 header p {
     color: #fff
 }

 #controls {
     margin: 20px
 }

 input {
     padding: 10px;
     border-radius: 10px
 }

 input[type="file"] {
     display: none
 }

 input#headline {
     font: 20px 'AAHITCAvantGardeProBold';
     max-width: calc(100vw - 60px)
 }

 main button,
 main a,
 .fileButton {
     background-color: var(--aah-pink);
     outline: 0;
     border: 0;
     padding: 10px;
     border-radius: 10px;
     color: #fff;
     font: 20px "AAHITCAvantGardeProBold", sans-serif
 }

 main a.inactive {
     background-color: var(--grey)
 }

 main a.active {
     background-color: var(--aah-pink);
     text-decoration: none
 }

 .fileButton {
     display: inline-block
 }

 form p,
 form label,
 form input,
 form button,
 form a {
     margin-left: 30px
 }

 .colourLabel,
 .positionLabel {
     margin-left: unset;
     font-size: 1.2rem;
     bottom: 4px;
     position: relative;
 }

 input#colourChoice1,
 input#colourChoice2,
 input#colourChoice3,
 input#colourChoice4,
 input#colourChoice5,
 input#colourChoice6,
 input#colourChoice7,
 input#small,
 input#medium,
 input#large,
 input.positionChoice {
     appearance: none;
     border-radius: 50%;
     width: 30px;
     height: 30px;
     transition: .2s all linear;
     margin-right: 5px;
     position: relative;
     top: 4px;
     border: 2px var(--grey) solid;
     padding: unset
 }

 input#colourChoice1:checked,
 input#small:checked,
 input#medium:checked,
 input#large:checked,
 input.positionChoice:checked {
     border: 10px var(--aah-pink) solid
 }

 input#colourChoice2:checked {
     border: 10px var(--aah-blue) solid
 }

 input#colourChoice3:checked {
     border: 10px var(--aah-orange) solid
 }

 input#colourChoice4:checked {
     border: 10px var(--freshers23-cherry) solid
 }

 input#colourChoice5:checked {
     border: 10px var(--freshers23-mint) solid
 }

 input#colourChoice6:checked {
     border: 10px var(--freshers23-tomato) solid
 }

 input#colourChoice7:checked {
     border: 10px var(--freshers23-cream) solid
 }

 #smallLabel {
     font-size: 12px
 }

 #mediumLabel {
     font-size: 20px
 }

 #largeLabel {
     font-size: 30px
 }

 #styleDropdown {
     margin-left: 30px;
     background-color: var(--aah-pink);
     outline: none;
     border: none;
     padding: 10px;
     border-radius: 12px;
     color: #fff;
     font: 20px 'AAHITCAvantGardeProBold'
 }

 footer {
     color: var(--grey);
     padding-left: 20px
 }

 footer a {
     color: var(--aah-pink)
 }

 #blurb {
     border: 6px solid var(--aah-pink);
     padding: 24px;
     border-radius: 12px;
     margin: 0;
     font-size: 1.3rem
 }

 aside.wizard {
     border: 6px solid var(--aah-dark-pink);
     background-color: var(--aah-pink);
     padding: 24px;
     border-radius: 12px;
     margin-block: 10px;
     font-size: 1.3rem
 }

 aside.wizard p {
     color: #000;
     margin-inline-start: 0;
 }

 aside.wizard #articleUrlInput {
     margin-inline: 0;
     width: calc(100% - 30px);
     max-width: 45ch;
     border: 0;
     outline: 0;
     font: 15px 'AAHITCAvantGardeProBold';
     font-variant-ligatures: none;
 }

 aside.wizard #wizardSubmitButton {
     background-color: #000;
     color: #fff;
     border: 0;
     outline: 0;
     margin: 0;
     font: 15px 'AAHITCAvantGardeProBold';
 }

 #preview {
     margin: 20px;
 }

 #preview h2 {
     margin-top: 0;
     padding-top: 26px;
     font-size: 1.3rem
 }

 .logo {
     font-size: 3rem
 }

 #ligature {
     margin-top: 10px;
     width: 30px;
     height: 30px
 }

 #ligature:checked {
     background-color: var(--aah-pink)
 }

 #lig {
     color: var(--grey);
     margin: 5px;
     position: relative;
     bottom: 8px;
 }

 span#direction::after {
     content: "to the right."
 }

 @media screen and (max-width:960px) {
     main {
         flex-direction: column
     }

     span#direction::after {
         content: "below."
     }

     section#preview {
         margin: auto;
         overflow: hidden;
     }
 }

 .new {
     color: transparent;
     text-shadow: 0 0 0 #fff;
     text-transform: uppercase;
 }

 #fileChoices {
     display: flex;
     flex-direction: row;
     gap: 10px;
     align-items: center;

 }

 #fileLabel {
     margin-block: 0;

 }

 .positionIcon {
     height: 15px;
     margin-right: 10px;
 }

 .radiosGroup {
     display: inline-block;

 }

 #orFillOut {
     font-size: 1rem;
     display: inline-block;
     margin-block-start: 30px;
     color: #fff;
 }

 #hopefully,
 #loading,
 #didNotWork {
     margin-block-start: 10px;
     display: none;
 }

 #manualButton {
     display: inline;
     background-color: #000;
     color: #fff;
     border: 0;
     outline: 0;
     margin: 0;
     font: 15px 'AAHITCAvantGardeProBold';

 }

 input[type="button"] {
     cursor: pointer;
 }

 #complicatedReasons {
     display: none;
 }

 #imageDownloadLink {
     background-color: unset;
     padding: unset;
     font: unset;
     color: var(--aah-pink);
     margin: unset;

 }

 aside.wizard {
     position: relative;
     z-index: 90;
 }

 .ribbon-wrapper {
     width: 85px;
     height: 88px;
     overflow: hidden;
     position: absolute;
     top: -3px;
     right: -3px;
 }

 .ribbon-wrapper.wide {
     width: 185px;
     height: 188px;
     top: 0;
     right: 0;
 }

 .ribbon {
     font: 15px 'AAHITCAvantGardeProBold';
     color: #333;
     text-align: center;
     position: relative;
     transform: rotate(45deg);
     padding: 7px 0;
     top: 15px;
     right: 0;
     width: 120px;
     background-color: var(--aah-dark-pink);
     color: #fff;
 }

 .ribbon.wide {
     top: 40px;
     width: 250px;
     box-shadow: 10px 5px 5px var(--aah-pink);

 }

 fieldset {
     border: 0;
     outline: 0;
     padding: 0;
     margin: 0;
 }

 fieldset.storyStyle div.storyStyleChoices {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     gap: 10px;
     margin-inline-start: 30px;
 }

 fieldset.storyStyle label {
     flex-grow: 1;
     flex-shrink: 0;
     height: 150px;
     width: 180px;
     padding: 10px;
     background-color: var(--aah-pink);
     display: flex;
     align-items: flex-end;
     border-radius: 10px;
     margin: 0;
     background-size: contain;
     background-repeat: no-repeat;
     background-position: right;
     color: #fff;
 }

 fieldset.storyStyle label input {
     display: none;
 }

 fieldset.storyStyle label:has(input:checked) {
     background-color: var(--aah-dark-pink);
 }

 fieldset.storyStyle label:has(input#styleChoice1) {
     background-image: url('/images/styles/normal.png');
 }

 fieldset.storyStyle label:has(input#styleChoice2) {
     background-image: url('/images/styles/christmas.png');
 }

 fieldset.storyStyle label:has(input#styleChoice3) {
     background-image: url('/images/styles/blenny.png');
 }

 fieldset.storyStyle label:has(input#styleChoice4) {
     background-image: url('/images/styles/upsidedown.png');
 }

 fieldset.storyStyle label:has(input#styleChoice5) {
     background-image: url('/images/styles/review.png');
 }

 fieldset.storyStyle label:has(input#styleChoice6) {
     background-image: url('/images/styles/writeFor.png');
 }

 fieldset.storyStyle label:has(input#styleChoice7) {
     background-image: url('/images/styles/designFor.png');
 }

 fieldset.storyStyle label:has(input#styleChoice8) {
     background-image: url('/images/styles/illustrateFor.png');
 }

 fieldset.storyStyle label:has(input#styleChoice9) {
     background-image: url('/images/styles/Rise.png');
 }

 fieldset.storyStyle label:has(input#styleChoice10) {
     background-image: url('/images/styles/FutureMe.png');
 }

 fieldset.storyStyle label:has(input#styleChoice11) {
     background-image: url('/images/styles/TwoHundred.png');
 }

 main.tiles {
     accent-color: var(--aah-pink);
     padding: 10px;
     margin: 10px;
     display: flex;
     gap: 10px;
     flex-wrap: wrap;
 }

 main>a.tile {
     position: relative;
     z-index: 90;
     min-height: 40vh;
     border-radius: 10px;
     min-width: 500px;
     flex-grow: 1;
     background-color: var(--aah-pink);
     color: #fff;
     padding: 20px;
     display: flex;
     align-items: flex-end;
     transition: .5s;
     text-decoration-color: var(--aah-pink);
     background-size: auto 100%;
     background-position: right;
     background-repeat: no-repeat;
     background-blend-mode: multiply;
 }

 main a.tile:hover {
     background-color: var(--aah-dark-pink);
     text-decoration-color: #fff;
 }

 main a.tile h2 {
     margin-block: 0;
 }

 @media screen and (max-width: 560px) {
     main a.tile {
         width: 100%;
         min-width: unset;
     }
 }

 a.tile#story {
     background-image: url('/images/story.png');

 }

 a.tile#guidelines {
     background-image: url('/images/guidelines.png');

 }

 a.tile#featured {
     background-image: url('/images/featured.png');

 }

 a.tile#bank {
     background-image: url('/images/bank.png');

 }

 a.tile#duotone {
     background-image: url('/images/stack.jpeg');

 }

 h1 .subtitle {
     font-size: 1rem;
 }